@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

html, body {
    top:0%;
    background-color: black;
    align-content: center;
    text-align: center;
}

.image {
    float:left;
    width: 100px;
}

*  {
    font-family: 'Alatsi', sans-serif;
    color: blanchedalmond;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    align-items: center;
    align-content: center;
    text-align: center;
}

.logo img{
    width: 100%;
}

.jaune {
    color: #f9d703;
}

.petit {
    font-size: 20px;
    line-height: 20px;
    display: block;
}

h1 {
    letter-spacing: 10px;
}

h2 {
    font-size: 30px;
}

hr {
    display: block;
    border-top: #f9d703 solid 10px;
    width: 10%;
}

.menu {
    border:white solid 2px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    min-height: 280px;
    max-width: 70%;
}

.jour {
    font-size: 50px;
}